useDynLib(monitoring)
export(Bernoulli.Initial.Sim.Wrapper,
       Bernoulli.SS.Sim.Wrapper,
       Bernoulli.find.pa,
       Bernoulli.linear.ARL,
       Bernoulli.mc.arl,
       ShewIewmaCL,
       ShewIewmaSim,
       calcCusum,
       calcIEWMA,
       designGammaCusum,
       dominant.left.ev,
       approx.h,
       findBernoulliCL,
       findBernoulliCL.simple,
       findGammaCusumCL,
       gammaCusumARL,
       gammaCusumSim,
       nonparShewhartARL,
       nonparTransMatrix,
       normalCusumARL,
       normalCusumARLSiegmund,
       normalCusumSim,
       plot.cusum,
       .Last.lib)
